@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
	font-family: 'Ubuntu Mono', monospace;
	font-size: large;
	text-align: justify;
}

body {
	background-color: #171421;
}

.container {
	color: #13E013;
	background-color: #241F33;
	border-radius: 10px;
}

.profile_image {
	border-radius: 50%;
}

.title {
	text-align: center;
	color: #8AE234;
	font-size: 25px;
}

.subtitle {
	text-align: center;
	color: #8AE234;
	font-size: 20px;
}

.link {
	color: #13E013;
}

.project_link {
	display: block;
	margin-bottom: 15px;
}

.intro, .project {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.project {
	margin-top: 40px;
}

.project_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;
}

.button_projects {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button_link:link, .button_link:visited {
	text-decoration: none;
	color: #13E013;
	background-color: #241F33;
	border: 2px solid #0f8d0f;
	text-align: center;
	display: block;
	padding: 10px 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100px;
}

.button_link:hover, .button_link:active {
	background-color: #13E013;
	color: #241F33;
}

.subtitle_with_text {
	width: 700px;
}

@media screen and (max-width: 1200px) {
	.project {
		flex-wrap: wrap;
	}

	.subtitle_with_text {
		width: 500px;
	}

	.project_image {
		width: 600px;
	}
}

@media screen and (max-width: 700px) {
	.intro {
		flex-wrap: wrap;
	}

	.project_image {
		width: 370px;
	}

	.subtitle_with_text, .project_content {
		width: 370px;
	}
}
