@charset "UFT-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.8rem;
  /* text-align: justify; */
}

body {
  background-color: #171421;
}

.container {
  color: #13e013;
  background-color: #241f33;
  border-radius: 10px;
  padding: 2rem;
}
