@font-face {
  font-family: "Hanken";
  src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 89%);
  --dark_gray_blue: hsl(224, 30%, 27%);
  /* Primary Colors */
  --light_red: hsl(0, 100%, 67%);
  --orangey_yellow: hsl(39, 100%, 56%);
  --green_teal: hsl(166, 100%, 37%);
  --cobalt_blue: hsl(234, 85%, 45%);
  /* Gradient Colors*/
  --light_slate: hsl(252, 100%, 67%);
  --light_royal: hsl(241, 81%, 54%);
  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);
}
