@media screen and (max-width: 412px) {
  .container {
    height: auto;
  }

  .product-card {
    flex-direction: column;
    width: 350px;
  }

  .product-image {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .product-info {
    border-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  .attribution {
    margin: 2rem 0;
  }
}
