@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark_raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose_white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light_grey: hsl(30, 18%, 87%);
    --wenge_brown: hsl(30, 10%, 34%);
    --dark_charcoal: hsl(24, 5%, 18%);
}

body {
    font-family: 'Outfit';
    background-color: var(--eggshell);
    color: var(--dark_charcoal);
    font-size: 1.6rem;
}

.container {
    background-color: var(--white);
    width: 700px;
    margin: auto;
    padding: 3rem;
    border-radius: 2rem;
}

.omelet-image {
    border-radius: 2rem;
}

.primary-title {
    font-family: 'Young Serif';
    font-size: 5rem;
    font-weight: normal;
}

.secondary-title {
    font-family: 'Young Serif';
    font-size: 3rem;
    font-weight: normal;
    color: var(--nutmeg);
}

.separation-line {
    max-width: 100%;
    margin: auto;
    color: var(--white);
    border-bottom: 1px solid var(--light_grey);
}

strong {
    color: var(--wenge_brown)
}

.preparation-list {
    background-color: var(--rose_white);
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
    /* list-style-position: inside; */
}

.preparation-list-body {
    padding-left: 2rem;
}

.instructions-list, .ingredients-list {
    padding-left: 3rem;
}

.preparation-list-title {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark_raspberry);
}

.preparation-list-item::marker {
    color: var(--dark_raspberry);
}

.preparation-list-item, .ingredients-list-item,
.instructions-list-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.ingredients-list-item::marker, .instructions-list-item::marker {
    color: var(--nutmeg);
}

.nutrion-table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
}

.nutrion-table-header, .nutrion-table-data {
    border-bottom: 1px solid var(--light_grey);
    padding: 1rem;
}

.nutrion-table-header {
    text-align: left;
    font-weight: normal;
    color: var(--wenge_brown);
    padding-left: 3rem;
}

.nutrion-table-data {
    color: var(--nutmeg);
    font-weight: 700;
}

#no-border-header, #no-border-data {
    border: none;
}

.attribution { 
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 700px) {
    .container {
        width: 350px;
        padding: 0;
    }

    .separation-line {
        width: 87%;
    }

    .omelet-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }

    .introduction, .instructions, .nutrients {
        padding: 2rem;
    }
}