@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
	font-family: 'Ubuntu Mono', monospace;
}

body {
	background-color: #171421;
}

main {
	color: #13E013;
	width: 750px;
	padding: 10px;
	margin: auto;
	background-color: #241F33;
	border-radius: 10px;
}

h1 {
	text-align: center;
	color: #8AE234;
}

h2, h3 {
	color: #8AE234;
}

p, li {
	font-size: large;
	text-align: justify;
}

a {
	color: #13E013;
}